//@import "fonts";

.header {
	padding-bottom: 20px;
}

.btn {
	border: none;
	border-radius: 0;
}

.spotify-button {
	background-color: #1ED760;
}

.meat-and-potatoes {
	background: #333;
	color: #ccc;
	padding-top: 20px;
}
